@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

@import url(http://fonts.googleapis.com/css?family=Radley:400italic,400);

html { 
  background: url(http://i.imgur.com/wToa2s4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
 
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: transperent;
}

::selection {
    color: white;
    background: transperent;
}



h1 {
 color: #fff;
  font-family: 'Bree Serif', serif;
    text-align: left;
    margin-left: 50px;
    font-size: 150px;   
    margin-top: 150px;
}

 #profile {
    color: #fff;
    font-family: 'Radley', serif;
    font-weight: 400italic;
    text-align: left;
    margin-left: 80px;
    font-size: 30px;   
     margin-top: -50px;
}

p {
 color: #fff;
    font-size: 30px;
}

ul li {
 list-style: none;
    display: inline-block;
    margin-left: 30px;
}

ul li a {
 text-decoration: none;
    color: white;
    font-size: 40px;
}

#cpen {
 margin-bottom: -20px;
    margin-left: 30px;
}


#credits {
 font-size: 16px;  
    font-family: 'Radley', serif;
    text-align: left;
    margin-top: 90px;
    font-weight: 400italic;
    margin-left: 200px;
   
} 
