* {
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
  color: #37474f;
}


body {
 background: #eceff1;   
    
}
.wrapper {
    background: #fafafa;
  margin: auto;
  width: 30%;
  height: 100%;
  padding: 2%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  margin-top: 10%;
  border-radius: 3px;
 cursor: pointer;
}

h1 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: -3%;
    margin-left: 20%;
}

.Photo img { 
    
    height: 70px;
    width: 70px;
    margin-top: -25%;
    margin-right: 5%;
    border-radius: 40px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
     -webkit-filter: grayscale(100%);
     -moz-webkit-filter: grayscale(100%);
}

.Photo img:hover { 
  -webkit-filter: grayscale(0%);
  -moz-webkit-filter: grayscale(100%);
}

span {
  font-size: 0.3em;
  font-style: italic;
  
}

.info {
  margin-top: 5%;
}


ul li {
  list-style: none;
  display: inline-block;
  padding-right: 0.5%; 
    text-align: center;
}


li:nth-child(6) {
  background-color: #90a4ae;
}


svg {
  height: 32px;
  opacity: 0.6;
  width: 32px;
  padding: 10%;
}

svg:hover {
  opacity: 1;
}
